/* Global */
body {
    margin: 0;
    padding: 0;
    background-color: #19fcb4;
}

.container{
    text-align: center;
    max-width: 80%;
    margin: auto;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

