/* Global */
body{
    padding: 0;
    margin: 0;
}

#header{
    display: flex;
    height: 50px;
    flex-flow: column wrap;
    position: fixed;
    align-content: stretch;
    width: 100%;
    background-color: #2cd3b1;
}

.logo{
    height: 50px;
    width: 95px;
    margin-left: 3%;
}

li{
    display: inline;
}

li > a{
    text-decoration: none;
}

#nav-bar{
    align-self: flex-end;
    margin-right: 10px;
}

#header-img{
    max-height: 100%;
    max-width: 100%;
}







